{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<main>
    {% if request.user.is_authenticated %}
    <h5>Количество моих записей: {{ notes_count }}</h5>
    <h5>Категории:
        {% for category in categories %}
        <a {% if category.id == active_category.id %} class="active-link" {% else %} class="noactive-link" {% endif %} href="?category={{ category.id }}">{{ category.title}}
                </a>
        {% endfor %}</h5>
    <div id="tasks">
        {% for note in notes%}
        <li type="1"><span class="task-title"><a href="{% url 'note_detail' note.id %}">{{ note.mark }}</a></span><br>
            <div id="cat">Категория: {{ note.category }}</div>
            <a href="{% url 'note_edit' note.id %}" class="btn btn-success">Редактировать</a>
            <a href="{% url 'note_delete' note.id %}" class="btn btn-danger">Уничтожить</a>
        </li>
        {% empty %}
                <li type="none" style="background-color: pink">Нет записей</li>
        {% endfor %}
        <li style="list-style: none">
            <h4 style="margin-top: 0px">Добавить запись</h4>
            <form method="POST" action="{% url 'main' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-info">Добавить</button>
            </form>
        </li>
    </div>
    <div style=" height: 50px"></div>
    {% endif %}
</main>
{% endblock %}
