{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<main>
        <li style="list-style: none">
            <h2>Редактировать запись</h2>
        <form enctype="multipart/form-data" method="post" action="{% url 'note_edit' note_form.instance.id %}">
            {% csrf_token %}
            {{ note_form|crispy }}
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
        </li>
    <div style=" height: 50px"></div>

</main>
{% endblock %}
